body {
    background-color: #dbf6e9;
}

hr {
    background-color: none;
    border-style: dotted none none none;
    border-color: grey;
    border-width: 6px;
    height: 2px;
    width: 2%;
}

h1 {
    color: #31326f;
}

h3 {
    color: #31326f;
}
